@import './app.css';

@layer components {
  .editor-styles-wrapper {
    font-family: var(--font-roboto);
    color: var(--color-dark);
    background-color: var(--color-surface);
  }

  .editor-styles-wrapper .is-root-container {
    max-width: var(--layout-content-width);
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, var(--layout-side-margin));
  }

  .block-editor-iframe__html.is-zoomed-out .editor-styles-wrapper .border {
    border-width: calc(1px / var(--wp-block-editor-iframe-zoom-out-scale, 1));
  }

  .block-editor-iframe__html.is-zoomed-out .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block.is-highlighted::after,
  .block-editor-iframe__html.is-zoomed-out .editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable='true']):focus::after {
    border-radius: inherit;
  }

}
